/* Style CSS */
body {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f4fc;
}
p {
  color: #6b708d;
}

h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 70.31px;
  color: #292e47;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 47px;
  color: #292e47;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28.13px;
  color: #292e47;
}

a:visited{
  color: #6b708d;
}

a:active,
a:link, 
a:visited{
  text-decoration: none;
}

.allbuttons {
  border: none;
  margin: 25px 20px;
  padding: 10px 10px;
  background-color: #072ac8;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: transform .2s;
}

.allbuttons:hover{
  transform: scale(1.1);
}

#headerButton {
  display: none;
}

#headerButton:active {
  background-color: #6b708d;
}

#headerHero {
  margin-top: 40px;
}

#circleHome {
  margin: 20px 20px;
  padding: 15px 10px;
}

#homeNavbar {
  display: flex;
  justify-content: space-around;
}

#navlist {
  display: flex;
  list-style: none;
  padding: 20px;
}

#navlist li a {
  margin-left: 1rem;
  text-decoration: none;
  font-style: normal;
  font-weight: 250;
  font-size: 17px;
  color: #6b708d;
}

#navlist li a:hover {
  color: #072ac8;
}
/* ----------------hero section------------------ */

#heroSection {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

#herosectionimg {
  position: relative;
  width: 60vw;
  background-image: url("../images/hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

#card1 {
  position: absolute;
  top: -20px;
  left: -70px;
  width: 300px;
}

#card2 {
  position: absolute;
  width: 250px;
  left: 250px;
  bottom: -80px;
}

#herosectiontxt {
  text-align: center;
  padding-right: 40px;
}

#herotxt {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
}

#heroimgbar {
  display: flex;
  flex-wrap: wrap;
  filter: grayscale(1);
  margin: 40px 20px 40px 20px;
  justify-content: center;
}

#heroimgbar img {
  padding: 40px;
}

/* -----------------Project Section-------------- */

#projectSections, 
#pageprojectSections {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#vectorifyimg {
  height: 444px;
}

.carousel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 445px;
  margin: 35px 0px;
  box-shadow: 0px 38.775508880615234px 77.55101776123047px 0px #0000001a;
  transition: transform .2s;
}

.carousel:hover{
  transform: scale(1.1);
}

.textcarousel {
  display: flex;
  padding-left: 40px;
  background-color: white;
}

.headlineregular {
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 25.5px;
  padding-right: 25px;
}

.carousel img {
  width: 340px;
}

/* -----------------Testimonial Section----------- */



#testimonialSection{
    display: flex;
    background-color: #292e47;
    padding: 40px;
    margin: 80px 40px;
    height: 450px;
}

#textimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#testimonialtitle {
  color: #ffffff;
  text-align: center;
}

#testimonialtxt{ 
  color: #ffc600;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 38.4px;
  margin-top: 0;
  padding: 0px 30px;
}

#kristin{
  display: flex;
  align-items: center;
}

#kristincirc {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

#emoji1, 
#emoji2 {
  display: none;  
  }

#kristincirc img {
  height: 100%;
  margin-left: -7px;
  }

#kristintitle {
  color: #a2d6f9;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 17px;
  margin-bottom: 0%;
  }

#booking {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 15,23px;
  margin-top: 0%;
}

/* -----------------Service Section----------- */
#srvccarous{
  align-items: center;
}

.iconcircle{
  margin: 30px 0 0 30px;
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ecf7ff;
}

#servicesection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#uidesign, 
#uxdesign,
#appdev {
  margin-left: 50px;
  height: 380px;
  width: 340px;
  background-color: #ffffff;
  box-sizing: border-box;
  
}
#uimg,
#uximg,
#appdevimg {
  width: auto;
  height:40px;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 20px;
}


/* -----------------CTA Section----------- */

#ctasection{
  background-color: #ffc600;
  margin-top: 50px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ctatitle{
  margin-top: 0;
  margin-bottom: 10px;
}
#ctatxt{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

#email{
  width: auto;
  height: 80px;
  background-color: #f4f6fc;
  border: none;
  padding-left: 60px;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 25.5px;
  color: #292e47;
}

.wrapper{
  position: relative;
}

#ctabutton{
  height: 80px;
  width: 198px;
}
#mail{
  position: absolute;
  left: 20px;
  transform: translateY(164%);
}

/* -----------------Footer----------- */

footer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 50px;
  padding: 0 50px;
}
#circlefooter{
  width: 260px;
  margin-top: 20px;
}

#circimgfoot{
  height: 30px;
  width: auto;
}

.circlefootxt{
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 30px;
  color: #6b708d;

}

#footerlinks{
  display: grid;
  grid-template-columns: auto auto auto;
  height: 112px;
  width: 435px;
  list-style: none;
}

#footerlinks li{
  padding: 15px;
}

/* ---------------Projects page---------------- */

#simplifysection{
  padding: 73px;
  margin: 0px 40px;
}

#completed {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 70px;
}

#simptitle{
  margin-bottom: 0px;
}

#simpsubtitle{
  margin-top: 5px;
  color: #6b708d;
}

#completed p{
  margin-top: 5px;
}

#pageprojectSections{
  margin-top: 0px;

}
#bigimg{
  width: 100%;
  height: 460px;
  object-fit: cover;
  box-shadow: 
  0px -20px 75px #1c00e825,
  -20px 0px 75px #f89b0f1f,
  30px 30px 75px #9700ef4a;
  margin-bottom: 70px;
}

#simplifytxt {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
}

#orbitimg{
  height: 444px;
}


/* ---------------MediaQuery---------------- */


@media (min-width: 1024px) {
  .allSections{
    margin: 140px 40px;
  }
  
  #headerButton {
    display: inline-flex;
  }

  #heroSection {
    flex-direction: row;
  }

  #herosectionimg {
    min-width: 13vh;
  }

  #heroimgbar {
    justify-content: space-between;
  }

  #herosectiontxt {
    text-align: left;
  }

  .sectiontitle {
    align-self: flex-start;
    padding-left: 75px;
    margin: 100px 0px;
  }

  .carouselcontainer {
    display: flex;
  }

  .carousel {
    margin: 0px 45px;
  }
  #projectSections,
  #pageprojectSections {
    flex-direction: column;
    justify-content: space-around;
  }
  

  #testimonialSection {
    flex-direction: row;
    justify-content:space-between;
    height: 622px;
    margin: 140px 40px;
  }
  #textimonial {
    justify-content: space-around;
  }

  #testimonialtitle {
    text-align: center;
    margin-top: 30px;
  }

  #emoji1, #emoji2 {
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      width: 150px;
  }  

  #srvccarous{
    justify-content: space-around;
  } 

  #email{
    width: 343px;
  }

}